.popup__close-button {
    background: transparent;
    color: #FFFFFF;
    width: 32px;
    height: 32px;
    font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    padding: 0;
    position: absolute;
    top: -38px;
    right: -38px;
    background-image: url(../../../images/CloseIcon.svg);
    background-size: cover;
    border: none;
    cursor: pointer;
}

.popup__close-button:hover {
    opacity: 0.6;
}

@media screen and (max-width:660px) {
    .popup__close-button {
        right: 0;
        width: 20px;
        height: 20px;
    }
}