.elements {
    display: grid;
    grid-row-gap: 20px;
    grid-column-gap: 14px;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    max-width: 880px;
    align-self: center;
    margin: 0 auto;
}

@media screen and (max-width:900px) {
    .elements {
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(2, 1fr);
        gap: 19px;
        max-width: 588px;
    }
}

@media screen and (max-width:660px) {
    .elements {
        grid-template-rows: repeat(6, 1fr);
        grid-template-columns: repeat(1, 1fr);
        max-width: 282px;
    }
}