.footer {
    display: flex;
    justify-content: flex-start;
    align-self: center;
    margin: 0 auto;
    padding: 0;
    max-width: 880px;
}

@media screen and (max-width:900px) {
    .footer {
        max-width: 588px;
    }
}

@media screen and (max-width:660px) {
    .footer {
        max-width: 282px;
    }
}