.popup {
    position: fixed;
    align-self: center;
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    transition: visibility 1s, opacity 1s linear;
    visibility: hidden;
    opacity: 0;
    display: flex;
}